<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Notas
  </h1>
</div>
<div>
  <form>
    <div class="row">
        <div class="col-6">
          <input type="text" class="form-control">
          <button class="btn btn-sm btn-success">Agregar Nota</button>
        </div>
        <div class="col-2">
          Editar
        </div>
        <div class="col-2">
          Eliminar
        </div>
        <div class="col-2">
          Color
        </div>
    </div>
  </form>
</div>